player-connection-mode=Listen
player-connection-guid=1483544343
player-connection-debug=0
player-connection-project-name=FPS_personal_project
player-connection-ip=192.168.0.35
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
build-guid=d244ce9b73a04460a69077eda7c242b2
